* {

background-color: #1e2931;
padding: 0%;
margin: 0%;
list-style: none;
text-decoration:none ;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

footer {

    background-color: #1e2931;
    height: 590px;
    width: 100%;

}

.inicio{

    margin-right: 800px;

}

.inicio img{

    display: flex;
    margin-left: 200px;
    padding-top: 70px;
    margin-right: 1000px;

}

.TextInicio{

    display: flex;
    color: whitesmoke;
    padding-left: 185px;
    margin-right: 800px;
    padding-top: 10px;
    position: fixed;
    position: absolute;
    text-shadow: 2px 3px 2px black;
    
}

.AboutUs{

    margin-left: 50px;

}

.AboutUs p{

    display: list-item;
    list-style: none;
    color: whitesmoke;
    width: 200px;
    text-shadow: 2px 3px 2px black;

}

.More{

    margin-left: 20px;

}

.More p{

    display: list-item;
    list-style: none;
    color: whitesmoke;
    width: 200px;
    text-shadow: 2px 3px 2px black;

}

.caixas{

margin-left: 600px;
display: flex;
padding-right: 600px;
margin-top: -170px;
text-decoration: none;
list-style: none;

}

.caixas a{

list-style: none;
text-decoration: none;
color: whitesmoke;

}

.final{

    background-color: rgb(7, 7, 28);
    height: 200px;
    margin-top: 55px;
    padding-top: 70px;
    text-align: center;
    
    }

.final h6{

    background-color: rgb(7, 7, 28);
    color: grey;
    padding-bottom: 10px;

}

.contributor a{

    list-style: none;
    text-decoration: none;
    margin-left: 5px;
    float: left;

}

.contributor img{

    margin-bottom: 60px;
    opacity: 0.2;
    transition: 0.4s;

}

.contributor img:hover{

    opacity: 10;
    

}
