*{
    margin: 0;
    padding: 0;
}

#header{
    display: block;
    position: fixed;
    height: 90px;
    width: 100%;
    background-image: url(./ArquivosHeader/Header.png);
    background-size: 100%;
    transition: all 0.3s ease;
    z-index: 1000;
}

#logo{
    width: 70px;
    margin-top: 5px;
    margin-left: 60px;
    transition: all 0.3s ease;
}

#cadastro{
    float: right;
    margin-right: 30px;
    background-color: #5ce1e6;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 0px;
    margin-top: 17.5px;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#entre{
    float: right;
    color: white;
    margin-right: 30px;
    transition: all 0.3s ease;
    margin-top: 22.5px;
}

main{
    height: 1000px;
    width: 100%;
    border: 1px solid;
    padding-top: 100px;
}
#cards{
    height: 500px;
    width: 100%;
    display: flex ;
    
}
h1 {
    text-align: center;
} 
.card{
    width: 300px;
    height: 100px;

}
#transcrição_de_texto{
    margin: 15px;
}
#leitor_de_libras{
    margin: 15px;

}
#hub_educacional{
    margin: 15px;
}
#reconhecimento_de_voz{
    margin: 15px;
}
.card-body{
    border-radius: 20px;
    text-align: center;
    background-color:#1E2933;
    color: #768FA5 ;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75) ;
}
#book{
    height: 100px;
    width: 100px;
}
#document{
    height: 100px;
    width: 100px;
}
#telephone{
    height: 100px;
    width: 100px;
}
#voice{
    height: 100px;
    width: 100px;
}
main #sobre_nos{
    width: 100%;
    height: 500px;
    background-color: red;
    display: block;
}
#sobre_nos #texto{
    width: 50%;
    height: 500px;
    background-color: blue;
}
#texto h1{
    color: white;
}
#texto p{
    color: white;
    font-size: 20px;
}