*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 50px;
}

nav.menulateral{
    width: 70px;
    height: 100%;
    background-color: whitesmoke;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(0, 23, 45);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    align-content: center;
}

nav.menulateral:hover{
    width: 170px;
    transition: .3s;
}

ul{
    list-style: none;
    height: 100%;
}

ul li.itemmenu{
    transition: .3s;
}

ul li.ativo{
    background-color: rgb(0, 23, 45);
}

ul li.itemmenu:hover{
    background: rgb(0, 23, 45);
}

ul li.itemmenu a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.itemmenu a .txt:hover{
    color: whitesmoke;
}

ul li.itemmenu a .txt{
    margin-left: 30px;
}

ul li.itemmenu a .icon:hover{
    color: whitesmoke;
}

ul li.itemmenu a .icon > i{
    font-size: 30px;
    margin-left: 3px;
}