#cadastro-back{
    background-color:#1E2933;
    width: 700px;
    height: 500px;
    margin: auto;
    box-shadow: -5px 5px 5px 0px ;
    border-radius: 20px;
}
#cadastro-back h1{
    color: white;
    text-align: center;
}

h2{
    text-align: center;
    margin:25px;
    font-size: 30px;
    color: white;
}
label{
    display: block;
    align-items: center;

}
#cadastro{
    text-align: center;
    
}
input{
    border-radius: 10px;
    background-color: whitesmoke;
}
#button{
    width: 130px;
    height: 20px;
}
