*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: whitesmoke
}

/*BARRA LETERAL*/
.menulateral{
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100vh;
    background-color: whitesmoke;
    padding: 30px 0px 40px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.27);
    position: fixed;
    overflow: hidden;
    transition: .3s;
    align-content: center;
    z-index: 40;
}

.menulateral:hover{
    width: 170px;
    transition: .3s;
}

.menulateral ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
}

.menulateral ul .itemmenu{
    padding-left: 10px;
    transition: .3s;
    cursor: pointer;
}

.menulateral ul .logout{
    margin-top: auto;
}

.menulateral ul .itemmenu.ativo{
    background-color: rgb(0, 23, 45);
}

.menulateral ul .itemmenu:hover{
    background: rgb(0, 23, 45);
}

.menulateral ul .itemmenu a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 4%;
    display: flex;
    line-height: 40px;
}

.menulateral ul .itemmenu button{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 4%;
    display: flex;
    line-height: 40px;
}

.menulateral ul .itemmenu:hover .txt{
    color: whitesmoke;
}

.menulateral ul .itemmenu a .txt{
    margin-left: 30px;
}

.menulateral ul .itemmenu:hover .icon{
    color: whitesmoke;
}

.menulateral ul .itemmenu a .icon i{
    font-size: 30px;
    margin-left: 3px;
}

/* MAIN - Conteudo */
#conteudo{
    padding-left: 10%;
    padding-right: 5%;
    background-color: whitesmoke;
}

/* MAIN - Audio */
#mainAudio{
    height: auto;
    width: 100%;
}

#apresentacoes{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.apresentacao{
    display: block;
    width: 90%;
    height: auto;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgb(221, 221, 221);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.103);
    overflow: hidden;
    padding-bottom: 50px;
}

.apresentacao h2{
    color: white;
    background-color: rgb(0, 23, 45);
    padding: 10px;
    margin-bottom: 15px;
}

.apresentacao p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
}

.apresentacao button{
    background-color: #5ce1e6;
    border-style: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    transition: all 0.2s ease;
    font-weight: 600;
    font-size: 18px;
    color: #0b1926;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.250);
    margin: 15px;
    margin-top: 20px;
}

.apresentacao button:hover, .apresentacao button:focus{
    background-color: #0b1926;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    cursor: pointer;
}

#resultado{
    color: black;
    height: 50px;
}

.apresentacao textarea{
    width: 80%;
    height: 100px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
}

/* HEADER */
header{
    display: block;
    float: left;
    padding-top:  30px;
    width: 100%;
    background-color: whitesmoke;
    color: rgb(0, 23, 45);
    text-align: center;
    padding-bottom: 25px;
}

/*FOOTER*/   
footer {
    display: block;
    float: left;
    background-color: #0b1926;
    height: 360px;
    width: 100%;
    list-style: none;
    text-decoration:none;
    padding-left: 4%;
    margin-top: 60px;
}

.td{
    display: block;
    float: left;
    width: 100%;
}

.td .logo{
    display: grid;
    float: left;
    width: 40%;
    padding-top: 30px;
    place-content: center;
}
    
.td .logo img{
    height: 200px;
    width: 200px;
}

.td .caixas{
    display: block;
    float: left;
    width: 60%;
    padding-top: 63px;
    list-style: none;
}

.caixas h5{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}
    
.caixas a{
    list-style: none;
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
    transition: 0.2s;
}

.caixas a:hover{
    color: #5ce1e6;
}

.caixas p{
    color: rgba(255, 255, 255, 0.555);
    margin-bottom: 10px;
    display: list-item;
    list-style: none;
}

.caixas .AboutUs{
    display: block;
    float: left;
    width: 50%;
}
    
.caixas .More{
    display: block;
    float: left;
    width: 50%;
}
    
.final{
    display: grid;
    float: left;
    width: 100%;
    margin-top: 20px;
    place-items: center;
}

.final hr{
    border: none;
    width: 90%;
    height: 1px;
    background-color: #ffffff59; /* ou outra cor visível */
    margin: 20px 0;
}
    
.final h6{
    margin-top: 10px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.445);
    text-align: center;
    font-weight: 400;
}

/* HUB INICIAL */

.container{
    padding-bottom: 35px;
}

.container h1{
    font-size: 20px;
    background-color: rgb(0, 23, 45);
    color: rgb(215, 215, 215);
    text-align: center;
    padding-bottom: 5px;    
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(56, 56, 59, 0.347);
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: rgb(56, 56, 59);
    color: whitesmoke
}

tr:hover {
    background-color: #f1f1f1;
}

/** VIDEOS HUB **/

#mainVideos{
    padding-top: 110px;
}

.caixas{
    display: flex;
    justify-content: center;
    gap: 0px 5%;
    width: 100%;
}

.caixa{
    height: 200px;
    width: 300px;
    float: left;
    border: 2px solid rgb(221, 221, 221);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    margin-bottom: 80px;
    text-align: center;
    background-color: rgb(215, 215, 215);
    position: relative;
    overflow: hidden;
}

.caixa img{
    width: 120%;
    height: auto;
    display: block;
    position: absolute;
}

.classes{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 20px;
    background-color: rgb(0, 23, 45);
    color: rgb(215, 215, 215);
    text-align: center;
    padding: 5px;
}